@use '../../styles' as *;

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.2em;

  &__label {
    font-size: 18px;
    text-transform: capitalize;
  }

  &__input {
    all: unset;
    display: flex;
    align-items: center;
    height: 34px;
    padding-inline: 0.6em;
    border: solid 1px;
    border-radius: 4px;
    background-color: white;
    font-size: 18px;
    transition: outline-color 0.3s;

    &:focus-visible {
      outline-offset: 0;
      outline: 1px solid $purple;
      border-color: $purple;
    }
  }

  &__error {
    height: 1em;
    line-height: 1em;
    color: red;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
