@use '../../styles' as *;

legend {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
  color: $blue-700;
}

fieldset {
  border-color: $blue-700;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
