@use '../../styles' as *;

.tone-tabs {
  width: 100%;
}

.tab-list {
  display: flex;
}

.tab-button {
  padding: 1em;
  background-color: transparent;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-color: $purple-500;
  font-size: 16px;
  font-weight: bold;
  text-transform: lowercase;

  &::first-letter {
    text-transform: uppercase;
  }

  &[data-state='inactive'] {
    border: none;
  }

  &[data-state='active'] {
    border: 1px solid;
    border-bottom: none;
    box-shadow: 0 1px 0 0 white;
  }

  &:focus-visible {
    outline-color: transparent;
    background-color: $blue-200;
  }
}

.tab-text {
  margin-inline-end: 0.4em;
}

.tab-panel {
  min-height: 300px;
  padding: 1em;
  border: 1px solid;
  border-radius: 4px;

  &:focus {
    outline-offset: -2px;
  }
}

@media screen and (max-width: 450px) {
  .tab-button {
    flex: 1;
  }

  .tab-text {
    display: none;
  }

  .tab-panel {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

@media screen and (min-width: 451px) {
  .tab-button {
    min-width: 120px;
  }
}
