@use '../../styles' as *;

.footer {
  padding-inline: 2rem;
  background-color: $gray-500;
  color: white;
  display: flex;
  align-items: center;
  gap: 2em;
  line-height: 1;

  &__text {
    display: flex;
    align-items: center;
    gap: 0.6em;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 0.8em;
  }

  &__link {
    color: white;
  }

  @media screen and (max-width: 400px) {
    padding-block: 2rem;
    flex-direction: column;
  }

  @media screen and (min-width: 401px) {
    padding-block: 1rem;
  }

  @media screen and (max-width: 1024px) {
    justify-content: space-between;
  }
}

.shimbarks {
  font-family: $hand-font;
  font-size: 2em;
  rotate: -5deg;
  translate: 0 -1px;
}
