@use './styles' as *;

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  margin-inline: auto;
  width: min(100%, 140ch);
  padding: 2rem 2rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.heading {
  color: $pink-500;
  font-size: 48px;
  text-transform: capitalize;
}

.description {
  white-space: pre-line;
  font-size: 18px;
}

.data-section {
  width: 100%;
  display: flex;
  gap: 2rem;

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }

  > * {
    flex: 1;
  }
}

.yagl-form {
  display: flex;
  gap: 1em;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

.code-editor {
  min-height: 300px;
  resize: none;
  margin-top: 10px;
  border-radius: 4px;
  padding: 1em;
  background-color: black;
  color: $blue-200;
  caret-color: $pink-300;
  font-size: 18px;

  &:focus {
    outline-color: transparent;
  }
}

.actions {
  width: min(100%, 500px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;

  > * {
    flex: 1;
  }
}

.app-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  padding: 0.8em 1em;
  border-radius: 4px;
  font-family: $default-font;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1px;
  white-space: nowrap;
}

.submit-button {
  border: none;
  background-color: $pink-500;
  color: white;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: $pink-700;
  }

  &:focus-visible {
    outline: 2px solid white;
    outline-offset: -4px;
  }
}

.text-button {
  border: 2px solid;
  border-color: transparent;
  background-color: transparent;
  color: $pink-500;
  transition: border-color 0.2s ease-in-out;

  &:focus-visible,
  &:hover {
    outline: none;
    border-color: $pink-500;
  }
}
